# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/CrispinEngine/CrispinEngine/Debug/CrispinEngine.tlog
/CrispinEngine/CrispinEngine/Debug
/CrispinEngine/Debug
/CrispinEngine/.vs/CrispinEngine/v14/.suo
/CrispinEngine/CrispinEngine/CrispinEngine.vcxproj
/CrispinEngine/CrispinEngine/CrispinEngine.vcxproj.filters
/CrispinEngine/CrispinEngine.sln
/CrispinEngine/CrispinEngine.VC.db
/CrispinEngine/CrispinEngine.VC.VC.opendb
