# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/CrispinEngine/CrispinEngine/Debug/CrispinEngine.tlog
/CrispinEngine/CrispinEngine/Debug
/CrispinEngine/Debug
/CrispinEngine/.vs/CrispinEngine/v14/.suo
/CrispinEngine/CrispinEngine/CrispinEngine.vcxproj
/CrispinEngine/CrispinEngine/CrispinEngine.vcxproj.filters
/CrispinEngine/CrispinEngine.sln
/CrispinEngine/CrispinEngine.VC.db
/CrispinEngine/CrispinEngine.VC.VC.opendb
/CrispinEngine/CrispinEngine/x64/Debug/CrispinEngine.tlog
/CrispinEngine/CrispinEngine/x64/Debug
/CrispinEngine/deps/include/SDL2
/CrispinEngine/x64/Debug
/CrispinEngine/CrispinEngine/CrispinEngine.vcxproj.user
/CrispinEngine/deps/include
/CrispinEngine/CrispinEngine/Release
/GameTemplate/.vs/GameTemplate/v14
/GameTemplate/Debug
/GameTemplate/deps/include/GL
/GameTemplate/deps/include/glm
/GameTemplate/deps/include/SDL2
/GameTemplate/GameTemplate/Audio/Music
/GameTemplate/GameTemplate/Audio/SFX
/GameTemplate/GameTemplate/Debug/GameTemplate.tlog
/GameTemplate/GameTemplate/Debug
/GameTemplate/GameTemplate/Release/GameTemplate.tlog
/GameTemplate/GameTemplate/Release
/GameTemplate/GameTemplate/GameTemplate.vcxproj.user
/GameTemplate/GameTemplate/GameTemplate.vcxproj.filters
/GameTemplate/GameTemplate/GameTemplate.vcxproj
/GameTemplate/GameTemplate.VC.VC.opendb
/GameTemplate/GameTemplate.VC.db
/GameTemplate/GameTemplate.sln
